



.cards-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 100px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: rgba(233, 233, 233, 0.391);
    border-radius: 10px;
    /* padding: 30px; */
    text-align: center;
    /* min-width: 400px;
    max-width: 550px; */
    width: 450px;
    margin-bottom: 25px;
    overflow: hidden;
}
.tournament-info{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}
.tournament-info img{
    width:80px;

}

.card-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
}
.team-info{
    width: 25%;
}
.team-info img {
    width: auto;
    height:65px

}

.game-info{
    width: 30%
}
.game-dashboard{
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0;
}
.live-stream-add{
    background-color: tomato;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    letter-spacing: 4px;
    
}
.link-wrapper{
    text-align: center;
}

.link-wrapper img{
    width: 20px;
    padding: 10px;
    
}

.stats-link img{
    filter: invert(100%) sepia(12%) saturate(0%) hue-rotate(70deg) brightness(107%) contrast(101%);
    filter: invert(16%) sepia(54%) saturate(671%) hue-rotate(174deg) brightness(96%) contrast(92%);
}
.stats-link img:hover{
    filter: invert(44%) sepia(78%) saturate(302%) hue-rotate(160deg) brightness(87%) contrast(89%);
}


.game-date{
    font-size: 12px;
    font-weight: bold;
}

.team-name-home{
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.live-stream-wrapepr-empty{
    height: 32px;
}