.header{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    
    background-color: #1d3557;
    padding: 20px;
}

.link-wrapper{
    text-align: right;
}

/* .link-wrapper img{
    width: 20px;
    padding: 10px;
    
} */

.stats-link img{
    filter: invert(100%) sepia(12%) saturate(0%) hue-rotate(70deg) brightness(107%) contrast(101%);
}
.stats-link img:hover{
    filter: invert(44%) sepia(78%) saturate(302%) hue-rotate(160deg) brightness(87%) contrast(89%);
}

.teams-logos-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.header img{
    height: 25px;
    width: auto;
}