.header{
    display: flex;
    justify-content:  center;
    align-items: center;
    background-color: #1d3557;
    padding: 20px;
    gap: 50px;
}

.teams-logos-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.header img{
    height: 25px;
    width: auto;
}